html,
body {
  height: 100%;
  margin: 0;
}

#container {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
}

#dvh, #lvh, #svh {
  height: 100%;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
}

#dvh {
  background-color: red;
}

#lvh {
  background-color: green;
}

#svh {
  background-color: blue;
}

#test {
  height: 100%;
}